@import "../commons/breakpoints.scss";
.reset-password {
  margin: 60px auto;
  border: 1px solid gray;
  border-radius: 8px;
  background-color: white;
  width: fit-content;
  @include breakpoint("sm") {
    width: 320px;
  }

  @include breakpoint("md") {
    width: 500px;
  }
  &__form {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
